<!DOCTYPE html>
<html lang="en" style="--bs-primary: #858c9f; --bs-primary-rgb: 133, 140, 159">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>SOLAR EPC</title>
  <link rel="stylesheet" href="/Dashboard/assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap" />
  <link rel="stylesheet" href="/Dashboard/assets/fonts/fontawesome-all.min.css" />
  <link rel="stylesheet" href="/Dashboard/assets/fonts/font-awesome.min.css" />
  <link rel="stylesheet" href="/Dashboard/assets/fonts/fontawesome5-overrides.min.css" />
  <link rel="stylesheet" href="/Dashboard/assets/css/Pretty-Registration-Form-.css" />
  <link rel="stylesheet" href="/Dashboard/assets/css/untitled.css" />
  <style>
    .unresolved {
      color: red !important;
      font-weight: bold;
    }

    .resolved {
      color: green;
      font-weight: bold;
    }

    .high {
      color: red !important;
      font-weight: bold;
    }

    .medium {
      color: blue;
      font-weight: bold;
    }

    .low {
      color: green;
      font-weight: bold;
    }

    img {
        width: 40vh;
        height: 40vh;
        cursor: pointer;
        transition: transform .2s;
        margin:0 auto;
        border-radius: 10px;
        
    }
    
/* img:hover{
    width: 50vh;
    height: 50vh;
    transform:scale(1);
} */
  </style>
</head>

<body id="page-top" style="--bs-primary: #858c9f; --bs-primary-rgb: 133, 140, 159">
  <div id="wrapper" style="--bs-primary: #858c9f; --bs-primary-rgb: 133, 140, 159">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="
          --bs-primary: #31363b;
          --bs-primary-rgb: 49, 54, 59;
          background: #858c9f;
        ">
      <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
          <div class="sidebar-brand-icon rotate-n-15"></div>
          <div class="sidebar-brand-text mx-3"><span>SOLAR EPC</span></div>
        </a>
        <hr class="sidebar-divider my-0" />
        <ul class="navbar-nav text-light" id="accordionSidebar">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/project"><i class="fas fa-list"></i><span>Projects</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/task"><i class="fa fa-tasks"></i><span>Tasks</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/salesperson"><i class="fas fa-user"></i><span>Sales</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/support"><i class="fab fa-wpforms"></i><span>Support</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/photoUpload/dashboard"><i class="fas fa-photo-video"></i><span>Photo
                Upload</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contractHome"><i class="fas fa-file-contract"></i><span>Contracts</span></a>
          </li>
        </ul>
        <div class="text-center d-none d-md-inline">
          <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
        </div>
      </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper" style="--bs-primary: #858c9f; --bs-primary-rgb: 133, 140, 159">
      <div id="content" style="--bs-primary: #858c9f; --bs-primary-rgb: 133, 140, 159">
        <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
          <div class="container-fluid">
            <ul class="navbar-nav flex-nowrap ms-auto">
              <li class="nav-item dropdown no-arrow">
                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false"
                    data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small"
                      id="userName">Valerie Luna</span></a>
                  <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item"
                      href="/api/user/auth/logout"><i
                        class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a></div>
                </div>
          </div>
          </li>
          </ul>
      </div>
      </nav>
      <h3 class="text-dark mb-4" style="--bs-primary: #858c9f; --bs-primary-rgb: 133, 140, 159; margin-left: 5px;">
        Change Photo Status
        </h3>

      <div class="container-fluid" style="--bs-primary: #858c9f; --bs-primary-rgb: 133, 140, 159">
        <a href=<%="/api/photoUpload/updateStatusImage/" + requests[0]._id +"/" + true %> 
            <button type="button" class="btn btn-success" style="margin-bottom: 5px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>
                </svg>
                Approved
              </button>
        </a>

        
        

        <a href=<%="/api/photoUpload/updateStatusImage/" + requests[0]._id +"/" + false %> <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
            </svg>
            Discard
          </button></a>

        
        <div class="card shadow desktop-table">
          <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Tickets</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="text-md-end dataTables_filter" id="dataTable_filter">
                  <label class="form-label"></label>
                </div>
              </div>
            </div>
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
              <table class="table my-0" id="dataTable">
                <thead>
                  <tr>
                    <th>Case ID</th>
                    <th>Customer ID</th>
                    <th>Comment</th>
                    <th>Operation</th>

                  </tr>
                </thead>
                <tbody>


                  <% for(var i=0; i < requests.length; i++) { %>
                    <tr>
                      <td><a href=<%="/api/photoUpload/changeStatus/" + requests[i]._id %> name="caseId"><%= i+1 %></a>
                      </td>
                      <td>
                        <%= requests[i].customerID %>
                      </td>
                      <td>
                        <%= requests[i].content %>
                      </td>
                      <td>
                        <%= requests[i].operation %>
                      </td>

                    </tr>
                    <% } %>

                      <% for(var i=0; i < requests.length; i++) { %>
                        <tr>

                          <% for(var j=0; j < requests[i].fileNames.length; j++) { %>
                            <td><img src=<%="/uploads/" + requests[i].fileNames[j] %> alt=""></td>
                            <% } %>

                        </tr>
                        <% } %>

                </tbody>

                <tfoot>

                  <tr>

                    <th>Case ID</th>
                    <th>Customer ID</th>
                    <th>Content</th>
                    <th>Operation</th>

                  </tr>

                </tfoot>
              </table>
            </div>
            <div class="row">

            </div>
          </div>
        </div>

        <div class="mobile-table">
          <% for(var i=0; i < requests .length; i++) { %>
            <div class="shadow card border mb-3 p-2">
              <div class="project-name h3">Case Id : <%= i+1 %>
              </div>
              <div class="project-name h3">
                <%= requests[i].customerId %>
              </div>
              <div class="project-description">
                <%= requests[i].content %>
              </div>
              <div class="project-status">
                Description: <%= requests[i].operation %>
              </div>
              <div class=<%=requests[i].status %>
                >Status: <%= requests[i].createdAt %>
              </div>
              <% for(var i=0; i < requests.length; i++) { %>
                <tr>

                  <% for(var j=0; j < requests[i].fileNames.length; j++) { %>
                    <td><img src=<%="/uploads/" + requests[i].fileNames[j] %> alt="" style="margin-bottom: 5px;"></td>
                    <% } %>

                </tr>
                <% } %>

            </div>
            <% } %>
        </div>
      </div>
    </div>
  </div>
  <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
  </div>
  <script src="/Dashboard/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/Dashboard/assets/js/theme.js"></script>
  <script>
    const setUserName = () => {
      let user = JSON.parse(localStorage.getItem('user'));
      document.getElementById("userName").innerText = user.userName;
    };
    setUserName();
  </script>
</body>

</html>